<header class="subhead row-fluid">
	<div class="span6">
		<h1 data-bind="text: Name" class="pull-left">Loading...</h1>

		<ul id="channelControls" class="nav nav-pills pull-left">
			<li data-bind="css: {active: uploadEntityPanel() != null}">
				<a href="#" data-bind="click: toggleUploadEntityPanel">Upload item</a>
			</li>
		</ul>
	</div>
	<div class="span6" data-bind="if: Description">
		<blockquote class="pull-right"><p data-bind="text: Description"></p></blockquote>
	</div>
</header>

<div class="row">
	<div class="span12">
		
		<div id="fileDropZone" data-bind="fileDropZone: {
			drop: showUploadEntityPanel	
		}">
			<h1>Drop files to upload</h1>
		</div>

		<ul class="thumbnails" data-bind="masonry: {
			itemSelector: '.span',
			isAnimated: true,
			columnWidth: function (containerWidth) {
				return containerWidth / 6;
			}
		}">
			<!-- ko with: uploadEntityPanel -->
			<li id="uploadItemPanel" class="span4 span">
				@Html.Partial("../Channels/UploadEntityPartial")
			</li>
			<!-- /ko -->

			<!-- ko foreach: Entities -->
			<li class="span4 span message" data-bind="
				attr: {'data-id': Id},
				css: {active: isExpandable, link: isLink}, 
				click: function() {
					if (!isLink() && !isExpanded()) {
						isExpanded(true);
						return false;
					}

					return true;
				}">
				<!-- ko if: isLink -->
				<a class="thumbnail" data-bind="attr: {href: Link}" target="_blank">
					<div class="controlBox" data-bind="if: isExpandable">
						<i class="icon-resize-full pull-right collapseBtn" href="#" data-bind="click: toggleExpanded"></i>
					</div>

					<i class="icon-link annotationIcon"></i>
					<h4 data-bind="optionalText: Title"></h4>
					<p data-bind="optionalText: currentMessage"></p>
				</a>
				<!-- /ko -->
				<!-- ko ifnot: isLink -->
				<div class="thumbnail">
					<div class="controlBox" data-bind="if: isExpandable">
						<i class="icon-resize-full pull-right collapseBtn" href="#" data-bind="click: toggleExpanded"></i>
					</div>

					<h4 data-bind="optionalText: Title"></h4>
					<p data-bind="optionalText: currentMessage"></p>
				</div>
				<!-- /ko -->
			</li>
			<!-- /ko -->

			<!--li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span message active">
				<div class="thumbnail">
					
					<div class="controlBox">
						<i class="icon-resize-full pull-right collapseBtn" href="#"></i>
					</div>

					<h4>Title of the message </h4>
					<p>Message text right about here Message text right about here Message text right about here Message text right about here...</p>
				</div>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/360x268" width="360" height="268" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/360x268" width="360" height="268" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span message active">
				<div class="thumbnail">

					<div class="controlBox">
						<i class="icon-resize-full pull-right collapseBtn" href="#"></i>
					</div>

					<h4>Title of the message</h4>
					<p>Message text right about here Message text right about here Message text right about here Message text right about here ...</p>
				</div>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li-->
		</ul>
	</div>
</div>
