<header class="subhead row-fluid">
	<div class="span6">
		<h1 data-bind="text: Name">Channel name</h1>
	</div>
	<div class="span6" data-bind="if: Description">
		<blockquote class="pull-right"><p data-bind="text: Description">This is the channel's description which describes the undescribable</p></blockquote>
	</div>
</header>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<li class="span4 span">
				<div class="thumbnail">
					<div class="controlBox">
						<i class="icon-remove"></i>
					</div>
					
					
					<ul class="nav nav-tabs">
						<li class="active"><a href="#textTab" data-toggle="tab"><i class="icon-align-left"></i> Text</a></li>
						<li><a href="#linkTab" data-toggle="tab"><i class="icon-link"></i> Link</a></li>
						<li><a href="#fileTab" data-toggle="tab"><i class="icon-file"></i> File</a></li>
					</ul>

					<form>
						<div class="tab-content">
							<div class="tab-pane active" id="textTab">
								<label>Message title</label>
								<input type="text" />

								<label>Enter your message below</label>
								<textarea data-bind="autosize: {resize: updateGrid}"></textarea>
								
								<button type="submit" class="btn btn-success pull-right"><i class="icon-upload-alt"></i> Submit</button>
							</div>
							<div class="tab-pane" id="linkTab">
								<label>Link title</label>
								<input type="text" />

								<label>Paste your link below</label>
								<input type="text" />

								<label>Link description</label>
								<textarea data-bind="autosize: {resize: updateGrid}"></textarea>

								<button type="submit" class="btn btn-success pull-right"><i class="icon-upload-alt"></i> Submit</button>
							</div>
							<div class="tab-pane" id="fileTab">
								<label>File title</label>
								<input type="text" />
								
								<label>File description</label>
								<textarea data-bind="autosize: {resize: updateGrid}"></textarea>

								<label>Choose the file</label>
								<span class="btn fileinput-button"> <!-- data-bind="fileUpload: {}" -->
									Choose file
									<input type="file" name="files[]" />
								</span>
								
								<button type="submit" class="btn btn-success pull-right"><i class="icon-upload-alt"></i> Submit</button>
							</div>
						</div>
					</form>
				</div>
			</li>

			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span message active">
				<div class="thumbnail">
					
					<div class="controlBox">
						<i class="icon-resize-full pull-right collapseBtn" href="#"></i>
					</div>

					<h4>Title of the message </h4>
					<p>Message text right about here Message text right about here Message text right about here Message text right about here...</p>
				</div>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/360x268" width="360" height="268" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/360x268" width="360" height="268" />
					<h4>Thumbnail label</h4>
					<p>Thumbnail caption right here...</p>
				</a>
			</li>
			
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span4 span message active">
				<div class="thumbnail">

					<div class="controlBox">
						<i class="icon-resize-full pull-right collapseBtn" href="#"></i>
					</div>

					<h4>Title of the message</h4>
					<p>Message text right about here Message text right about here Message text right about here Message text right about here ...</p>
				</div>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
			<li class="span2 span">
				<a href="#" class="thumbnail"><img src="http://placehold.it/160x120" width="160" height="120" /></a>
			</li>
		</ul>
	</div>
</div>
