<header class="subhead row-fluid">
	<div class="span7">
		<h1 data-bind="text: Name" class="pull-left">Loading...</h1>

		<nav>
			<ul id="channelControls" class="nav nav-pills pull-left">
				<li data-bind="css: {active: uploadEntityPanel() != null}">
					<a href="#" data-bind="click: toggleUploadEntityPanel">Upload item</a>
				</li>

				<!-- ko if: isAdmin -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Admin
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#updatechannelinfo" data-bind="click: showUpdateInfoPanel"><i class="icon-pencil"></i> Update info</a></li>
						<li><a href="#changechannelpassword" data-bind="click: showUpdatePasswordPanel"><i class="icon-user"></i> Change user password</a></li>
						<li><a href="#changechanneladminpassword" data-bind="click: showUpdateAdminPasswordPanel"><i class="icon-key"></i> Change admin password</a></li>
									
						<li class="divider"></li>

						<li><a href="#deletechannel" data-bind="click: deleteChannel"><i class="icon-remove-sign"></i> Delete channel</a></li>
					</ul>
				</li>
				<!-- /ko -->

				<li>
					<a href="#" data-bind="click: unsubscribe">Unsubscribe</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="span5" data-bind="if: Description">
		<blockquote class="pull-right"><p data-bind="text: Description"></p></blockquote>
	</div>
</header>

<div class="row">
	<div class="span12">
		
		<div id="fileDropZone" data-bind="fileDropZone: {
			drop: showUploadEntityPanel	
		}">
			<h1>Drop files to upload</h1>
		</div>

		<ul class="thumbnails" data-bind="
		masonry: {
			itemSelector: '.span',
			isAnimated: true,
			columnWidth: function (containerWidth) {
				return containerWidth / 6;
			}
		},
		infiniteScroll: loadMoreEntities
		">
			<!-- ko with: uploadEntityPanel -->
			<li id="uploadItemPanel" class="span4 span">
				@Html.Partial("../Channels/UploadEntityPartial")
			</li>
			<!-- /ko -->

			<!-- ko foreach: Entities -->
			
			<!-- ko if: IsFile -->
			<li class="span2 span file" data-bind="attr: {'data-id': Id}">
				<a class="thumbnail" data-bind="attr: {href: AuthorizedFileLink}">
					<div class="imgBox">
						<img data-bind="attr: {src: AuthorizedFilePreview}" />
					</div>

					<div class="controlBox" data-bind="if: isExpandable">
						<i class="icon-resize-full pull-right collapseBtn" href="#" data-bind="click: toggleExpanded"></i>
					</div>

					<h4 data-bind="optionalText: Title"></h4>
					<p data-bind="optionalText: currentMessage"></p>
				</a>
			</li>
			<!-- /ko -->
			<!-- ko ifnot: IsFile -->
			<li class="span4 span message" data-bind="
				attr: {'data-id': Id},
				css: {active: isExpandable, link: isLink}, 
				click: function() {
					if (!isLink() && !isExpanded()) {
						isExpanded(true);
						return false;
					}

					return true;
				}">
				
					<!-- ko if: isLink --> 
					<a class="thumbnail" data-bind="attr: {href: Link}" target="_blank">
						<div class="controlBox" data-bind="if: isExpandable">
							<i class="icon-resize-full pull-right collapseBtn" href="#" data-bind="click: toggleExpanded"></i>
						</div>

						<i class="icon-link annotationIcon"></i>
						<h4 data-bind="optionalText: Title"></h4>
						<p data-bind="optionalText: currentMessage"></p>
					</a>
					<!-- /ko -->
					<!-- ko ifnot: isLink -->
					<div class="thumbnail">
						<div class="controlBox" data-bind="if: isExpandable">
							<i class="icon-resize-full pull-right collapseBtn" href="#" data-bind="click: toggleExpanded"></i>
						</div>

						<h4 data-bind="optionalText: Title"></h4>
						<p data-bind="optionalText: currentMessage"></p>
					</div>
					<!-- /ko -->
			</li>
			<!-- /ko -->
			<!-- /ko -->
		</ul>
	</div>
</div>
