@using (Html.BeginForm("Subscribe", "Channel", FormMethod.Post, new { Class = "form-horizontal" })) {
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Subscribe to channel</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="channel">Channel name</label>
				<div class="controls">
					<input type="text" id="channel" class="input-xlarge" name="channel" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Channel password</label>
				<div class="controls">
					<input type="password" id="password" class="input-xlarge" name="password" />
					<p class="help-block">The regular or the admin password for the channel</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<input type="submit" class="btn btn-primary" value="Subscribe" />
		</div>
}