@import url('bootstrap/less/bootstrap.less');
@import url('bootstrap/less/responsive.less');
@import url('fontawesome/less/font-awesome.less');
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,cyrillic');
@linkColor: @green;

@grayMoreLighter: #fafafa;
@sansFontFamily: 'Ubuntu', sans-serif;
@bigHeadingSize: 40px;

[class^="icon-"],
[class*=" icon-"],
.icon-white
{
    background: none !important;
}

.noselect
{
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Smartphone/tablet width */
@media (min-width: 480px) and (max-width: 979px)
{
    header.row-fluid
    {        
        .span4
        {
            float: left;
            width: 31.491712705%;
        }
        
        .span8
        {
            float: left;
            width: 65.74585634900001%;
        }
    }
}

nav
{
    i
    {
        font-size: 16px;
    }
    
    .dropdown-menu a:hover
    {
        i
        {
            .icon-white;
        }
    }
}

.subhead
{
    h1
    {
        font-size: @bigHeadingSize;
    }
    
    blockquote p
    {
        margin: 10px;
    }
}

/**** Transitions ****/
.transition-duration(@time)
{
      -webkit-transition-duration: @time;
         -moz-transition-duration: @time;
          -ms-transition-duration: @time;
           -o-transition-duration: @time;
              transition-duration: @time;
}

.masonry
{
    .masonry-brick
    {
        .transition-duration(0.7s);
        
        -webkit-transition-property: left, right, top;
        -moz-transition-property: left, right, top;
         -ms-transition-property: left, right, top;
          -o-transition-property: left, right, top;
             transition-property: left, right, top;
    }
}

/* Basic styles */
body
{
    padding: 10px;
    background-color: @grayMoreLighter;
}

.color
{
    color: @linkColor;
}

#header h1
{
    font-family: @sansFontFamily;
}

h1, h2, h3, h4, .nav, .btn, .modal-body p, .modal-body label
{
    .noselect;
}
a.thumbnail
{
    .noselect;
    cursor: pointer;
    
    &:hover
    {
        text-decoration: none;
        
        h4
        {
            cursor: pointer;
        }
    }
}

.message
{
    &.active:not(.expanded),
    &.active:not(.expanded) h4
    {
        cursor: pointer;
    }
    
    &.active
    {
        [class^="icon-"],
        [class*=" icon-"]
        {
            color: @black;
            text-decoration: none;
        }
        
        &:not(.expanded):hover .collapseBtn
        {
            color: @green;
        }
    }
    &.active.expanded
    {
        a[class^="icon-"]:hover,
        a[class*=" icon-"]:hover
        {
            color: @green;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
.thumbnail
{
    overflow: hidden;
    background: white;
    
    &:hover
    {
        border-color: #46A546;
        .box-shadow(0 1px 4px rgba(0, 105, 214, 0.25));
    }
    
    [class^="icon-"],
    [class*=" icon-"]
    {
        font-size: 16px;
    }
}
.btn
{
    cursor: pointer;
}
form
{
    margin: 0;
}
.help-block .field-validation-error
{
    color: @red;
}

#login
{
    width: 500px;
}

#content
{
    margin-top: 20px;
}